ACCESS_KEY = ""
SECRET_KEY = ""
REGION = "eu-west-1"
BUCKET = ""
ROOT = "the/path/in/s3/where/to/start/"
ROOT_FULL = ROOT + ""
AWS_URL = 'https://s3-eu-west-1.amazonaws.com/{}/{}'.format(BUCKET, ROOT)
