{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simple S3 Browser for photos">
    <meta name="author" content="Răzvan Tudorică">

    <title>S3 browser</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'browser/css/album.css' %}" rel="stylesheet">
    <link href="{% static 'browser/css/ekko-lightbox.css' %}" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 py-4">
              <h4 class="text-white">Despre</h4>
              <p class="text-muted">Aceasta este galeria foto Ursul Trubadur</p>
            </div>
            <div class="col-sm-4 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                  <li><a href="http://ursultrubadur.org/" class="text-white">UrsulTrubadur.org</a></li>
                  <li><a href="{% url 'upload' %}" class="text-white">Upload Poze</a></li>
                  <li><a href="https://www.facebook.com/ursultrubadur/" class="text-white">Urmărește-ne pe Facebook</a></li>
                  <li><a href="https://github.com/raztud/s3gallery" class="text-white">S3Gallery on Github</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand">Galerie foto</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <div class="album text-muted">
        <div class="container">
            <p>{% block h3title %}{% endblock %}</p>
            {% block content %}{% endblock %}

        </div> <!-- container -->
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </p>
        <p class="float-right">
          <a href="#">Înapoi sus</a>
        </p>
        <!-- <p></p>
        <p></p> -->
      </div>
    </footer>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ro_RO/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script>window.jQuery || document.write('<script src="{% static 'browser/js/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="{% static 'browser/js/popper.min.js' %}"></script>
    <script src="{% static 'browser/js/ekko-lightbox.min.js' %}"></script>
    <script src="{% static 'browser/js/holder.min.js' %}"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });

      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
          event.preventDefault();
          $(this).ekkoLightbox({
              alwaysShowClose: false,
          });
      });
    </script>
   {% include 'piwik.html' %}
  </body>
</html>
