{% extends "base.html" %}
    {% block h3title %}
        {% for breadcrumb in data.breadcrumbs %}
            / <a href="{{ breadcrumb.1 }}">{{ breadcrumb.0 }}</a>
        {% endfor %}
    {%endblock %}
{% block content %}

{% for element in data.folders %}
    <a href="/folder/{{ element.full_path }}">{{ element.name }}</a> <br />
{% endfor %}

<div class = "row">

{% for element in data.files %}

    <div class="card">
      {% if element.thumb %}
          <a href="/file/{{ element.full_path }}"><img src="{{ element.thumb }}" alt="{{ element.name }}" title="{{ element.name }}" /></a>
          <!-- <p class="card-text">Description</p> -->
      {% else %}
          <a href="/file/{{ element.full_path }}">{{ element.name }}</a>
      {% endif %}

    </div>


{% endfor %}

</div>

{% endblock %}