{% extends "base.html" %}
{% block h3title %}{{ data.current_element }} {%endblock %}
{% block content %}

{% for element in data.folders %}
    <a href="/folder/{{ element.full_path }}">{{ element.name }}</a> <br />
{% endfor %}

<div class = "row">

{% for element in data.files %}
    <div class = "col-sm-6 col-md-3">
      <a href="/file/{{ element.full_path }}" class = "thumbnail">
          {% if element.has_thumb %}
            <img src="{{ element.thumb }}" alt="{{ element.name }}" title="{{ element.name }}" />
          {% else %}
              {{ element.name }}
          {% endif %}
      </a>
   </div>

{% endfor %}

</div>

{% endblock %}