{% extends "base.html" %}
{% load static %}
    {% block h3title %}
        {% for breadcrumb in data.breadcrumbs %}
            / <a href="{{ breadcrumb.1 }}">{{ breadcrumb.0 }}</a>
        {% endfor %}
    {%endblock %}
{% block content %}
<div class = "row">
{% for element in data.folders %}

    <div class="card-folder">

      <a href="/folder/{{ element.full_path }}"><img class="folder-image" src="{% static 'browser/images/thumb_folder.png' %}" alt="{{ element.name }}" title="{{ element.name }}" /></a>
      <p class="card-text text-center">{{ element.name|truncatechars:"15" }}</p>

    </div>
{% endfor %}
</div>

<div class = "row">

{% for element in data.files %}

    <div class="card">
      {% if element.thumb %}
          <a href="/file/{{ element.full_path }}"><img src="{{ element.thumb }}" alt="{{ element.name }}" title="{{ element.name }}" /></a>
          <!-- <p class="card-text">Description</p> -->
      {% else %}
          <a href="/file/{{ element.full_path }}">{{ element.name }}</a>
      {% endif %}

    </div>


{% endfor %}

</div>

{% endblock %}