{% extends "base.html" %}
{% block h3title %}{{ data.current_element }} {%endblock %}
{% block content %}

    {% if error == True %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
    {% endif %}

    {% if error == False %}
        <div class="alert alert-success">
          {{ message }}
        </div>
    {% endif %}

    <div class="alert alert-warning">
      <p>Puteti trimite arhive din turele Ursul Trubadur. Va rugam sa lasati un mesaj descriptiv despre ce reprezinta arhiva: locul, data, numele vostru, email.</p>
        <p>Daca vreti sa trimiteati un link catre o locatie de unde se poate downloada arhiva (dropbox, wetransfer, etc) scrieti linkul in comentariu si uploadati un fisier oarecare.</p>
    </div>

    {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="form-group row">
            <label for="{{ form.comment.id_for_label }}" class="col-sm-2 col-form-label">Comentariu</label>
            <div class="col-sm-10">
                {{ form.comment }}
            </div>
        </div>

        <div class="form-group row">
            {{ form.uploadedfile.errors }}
            <div class="col-sm-10">
                {{ form.uploadedfile }}
            </div>
        </div>

        <div class="form-group row">
            {{ form.captcha.errors }}
            <div class="col-sm-10">
                {{ form.captcha }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Trimite</button>
    </form>

{% endblock %}