{% extends "base.html" %}
{% load i18n %}
{% block h3title %}{{ data.current_element }} {%endblock %}
{% block content %}

    {% if error == True %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
    {% endif %}

    {% if error == False %}
        <div class="alert alert-success">
          {{ message }}
        </div>
    {% endif %}

    <div class="alert alert-warning">
        <p>{% trans 'You can send archives with pictures.' %}</p>
        <p>{% trans 'You can send also a link to an external storage (dropbox, google drive) in the comment section, but you need to upload a dummy file.' %}</p>
    </div>

    {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="form-group row">
            <label for="{{ form.comment.id_for_label }}" class="col-sm-2 col-form-label">{% trans 'Comment' %}</label>
            <div class="col-sm-10">
                {{ form.comment }}
            </div>
        </div>

        <div class="form-group row">
            {{ form.uploadedfile.errors }}
            <div class="col-sm-10">
                {{ form.uploadedfile }}
            </div>
        </div>

        <div class="form-group row">
            {{ form.captcha.errors }}
            <div class="col-sm-10">
                {{ form.captcha }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
    </form>

{% endblock %}